user_uuid="4c76b7ea-1cad-48d2-842e-da0a8a8fd68d"
bucket_name="rib2t9h3kw1d5kqkuefr02bik7q5f6ms"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version=1